src/main/webapp/schemas/EmployeeDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://model.demo.ws.spring.com" 
targetNamespace="http://model.demo.ws.spring.com" elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xs:element name="Employee" type="Employee"/>
	<xs:complexType name="Employee">
		<xs:sequence>
			<xs:element name="empId" type="xs:string"/>
			<xs:element name="empName" type="xs:string"/>
			<xs:element name="designation" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
